#findDoctor, #results, #results2, #searchBy, #medIssue, a {
  text-align: center;
}

#head, #findDoctor, #searchBy, #medIssue, #practice, a {
  border-radius: 12px;
  background-color: lightgrey;
}

#practice  {
  text-align: center;
  font-size: 120%;
}

.item {
  display: none;
}

.btn:hover {
  background-color: #01C3FE;
}

.btn:active {
  background-color: #01C3FE;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#start, #searchMedIssue, #backToOptions1, #backToOptions2, #backToOptions3, #backToOptions4, #goBack, #goBack2, #searchByPrac, #searchByIssue, a {
  background-color: #01C3FE;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
#start, #searchMedIssue, #backToOptions1, #backToOptions2, #backToOptions3, #backToOptions4, #goBack, #goBack2, #searchByPrac, #searchByIssue, a {
  background-color: white;
  color: black;
  border: 2px solid #01C3FE;
  border-radius: 12px;
}

#start:hover, #searchMedIssue:hover, #backToOptions1:hover, #backToOptions2:hover, #backToOptions3:hover, #backToOptions4:hover, #goBack:hover, #goBack2:hover, #searchByPrac:hover, #searchByIssue:hover, a {
  background-color: #01C3FE;
  color: white;
}

input {
  width: 400px;
  border: 2px solid #01C3FE;
  border-radius: 12px;
}

.row {
  display: center;
}
