#findDoctor, #results, #results2, #searchBy, #medIssue, a {
  text-align: center;
}

#practice  {
  text-align: center;
  font-size: 120%;
}

.item {
  display: none;
}

.btn:hover {
  background-color: #01C3FE;
}

.btn:active {
  background-color: #01C3FE;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#start {
  background-color: #01C3FE;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
#start {
  background-color: white;
  color: black;
  border: 2px solid #01C3FE;
  border-radius: 12px;
}

#start:hover {
  background-color: #01C3FE;
  color: white;
}

#backToOptions1 {
  background-color: #01C3FE;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#backToOptions1 {
  background-color: white;
  color: black;
  border: 2px solid #01C3FE;
  border-radius: 12px;
}
#backToOptions1:hover {
  background-color: #01C3FE;
  color: white;
}

#backToOptions2 {
  background-color: #01C3FE;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#backToOptions2 {
  background-color: white;
  color: black;
  border: 2px solid #01C3FE;
  border-radius: 12px;
}
#backToOptions2:hover {
  background-color: #01C3FE;
  color: white;
}


#backToOptions3 {
  background-color: #01C3FE;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#backToOptions3 {
  background-color: white;
  color: black;
  border: 2px solid #01C3FE;
  border-radius: 12px;
}
#backToOptions3:hover {
  background-color: #01C3FE;
  color: white;
}
#backToOptions4 {
  background-color: #01C3FE;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#backToOptions4 {
  background-color: white;
  color: black;
  border: 2px solid #01C3FE;
  border-radius: 12px;
}
#backToOptions4:hover {
  background-color: #01C3FE;
  color: white;
}

#goBack {
  background-color: #01C3FE;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#goBack {
  background-color: white;
  color: black;
  border: 2px solid #01C3FE;
  border-radius: 12px;
}
#goBack:hover {
  background-color: #01C3FE;
  color: white;
}
#goBack2 {
  background-color: #01C3FE;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#goBack2 {
  background-color: white;
  color: black;
  border: 2px solid #01C3FE;
  border-radius: 12px;
}
#goBack2:hover {
  background-color: #01C3FE;
  color: white;
}

#searchMedIssue {
  background-color: #01C3FE;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#searchMedIssue {
  background-color: white;
  color: black;
  border: 2px solid #01C3FE;
  border-radius: 12px;
}
#searchMedIssue:hover {
  background-color: #01C3FE;
  color: white;
}
